.container {
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column; /* row column eow_reverse column_reverse */
    flex-wrap: wrap-reverse; /* nowrap wrap wrap-reverse */
    gap: 3rem; /* space between items */

    /*Eixo horizontal - main axis*/
    justify-content: center; /* flex-start flex-end center space-between space-around space-evenly */

    /*Eixo vertical - cross axis*/
    align-items: center; /* flex-start flex-end center baseline stretch */
    align-content: center; /* flex-start flex-end center space-between space-around stretch */
}